.App {
  display: grid;
  grid-template-rows: 2;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  color: #6b6b6b;
}

.navbar-container{
  padding: 10px;
  border-bottom: #e4e4e4 2px solid;
  box-shadow: 0 0 10px 0 #ebe0e0;
  z-index: 5050;
  background-color: var(--black-025);
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  height: 50px;
  box-sizing: border-box;
  border-top: 3px solid #f48024;
  position: relative;
}

.page-container{
  padding: 10px;
}