.control-panel{
    text-align: right;
}

.control-panel .new{
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    border: #e4e4e4 2px solid;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #f0ecec;
    background-color: #ffffff;
}

.control-panel .new:hover{
    opacity: 0.7;
}

.control-panel .search{
    border: 0;
    border-bottom:#e4e4e4 2px solid;
    vertical-align: middle;
    margin-right: 50px;
}

.control-panel .search-button:hover{
    opacity: 0.7;
}