.service{
    height: 50px;
    padding: 10px;
    opacity: 0.7;
    border-radius: 4px;
    /* border-top: #f48024 3px solid; */
    box-shadow: 0 0 10px 0 #f0ecec;
    position: relative;
}

.service h4{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.service span:nth-child(2){
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
}

.service span:nth-child(3){
    display: block;
    opacity: 0.7;
}

.service span:nth-child(4){
    font-weight: bold;
    position: absolute;
    right: 5px;
    top:0;
    opacity: 0.7;
    visibility: hidden;
    cursor: pointer;
}

.service:hover{
    background-color: #f0ecec;
    cursor: pointer;
}

.service:hover span:nth-child(4){
    visibility: visible;
}

.service:hover span:nth-child(5){
    visibility: visible;
}