.navbar{
    padding-top: 5px;
  }

  .navbar-link-logo{
    text-decoration: none;
    color: inherit;
    padding: 5px 15px 5px 0px;
  }
  
  .navbar-link{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
  }
  
  .navbar-link:hover{
    background-color: #e4e4e4;
  }
  
  .navbar-link-active{
    background-color: #f48024;
    color: #ffffff;
  }
  
  .navbar-link-active:hover{
    background-color: #f48024;
    color: #ffffff;
  }