.client-form .row{
    height: 30px;
}

.client-form .row-2{
    height: 60px;
}

.client-form .form-input{
    border: 0;
    border-bottom: 1px #e4e4e4 solid;
}

.client-form .form-input.full-width{
    width: 100%;
}

.client-form .footer{
    height: 30px;
}

.client-form .save{
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    float: right;
    border: #e4e4e4 2px solid;
    cursor: pointer;
    float: right;
}

.client-form .save:hover{
    opacity: 0.7;
}