.item-form .row{
    height: 30px;
}

.item-form .row-2{
    height: 60px;
}

.item-form .row-3{
    height: 90px;
}

.item-form .row-4{
    height: 120px;
}

.item-form .row-5{
    height: 150px;
    position: relative;
}

.item-form .row-6{
    height: 180px;
    position: relative;
}

.item-form .form-input{
    border: 0;
    border-bottom: 1px #e4e4e4 solid;
}

.item-form .form-input.full-width{
    width: 100%;
}

.item-form .footer{
    height: 30px;
}

.item-form .save{
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    float: right;
    border: #e4e4e4 2px solid;
    cursor: pointer;
    float: right;
    box-shadow: 0 0 10px 0 #f0ecec;
    background-color: #ffffff;
}

.item-form .save:hover{
    opacity: 0.7;
}

.item-form .select-image-file{
    display: none;
}

.item-form .select-image{
    position: absolute;
    top: 2px;
    left: 93px;
    cursor: pointer;
    opacity: 0.5;
    background-color: #e4e4e4;
    padding: 5px;
    border: #e4e4e4 1px solid;
    border-radius: 4px;
}

.item-form .image{
    border-radius: 4px;
    height: 140px;
    width: 140px;
    border: #e4e4e4 2px solid;
    box-shadow: 0 0 10px 0 #d4d4d4;
}